.section_editor{
overflow: hidden;
}
.editor_text{
    text-align: center;
    font-family: $font-l;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #323232;
    padding-bottom: 36px;
    
}

.views_items {
    display: flex;  
    border: 0.5px solid grey;
    border-radius: 3px;
    width: 133px;
    height: 26px;
    text-align: center;
}
.views_item_watch{
    margin-right: 10px;
   
}
.views_items_star{

    @media (min-width: 480px) {
        margin-right: 10px;
      }
}
.views_items_fork{
    margin-top: 20px;
    @media (min-width: 481px) {
        margin-top: 0px;
      }
   
}
.views{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 88px;
    @media (min-width: 429px) {
        margin-right: 10px;
        margin-left: 10px;
      }
      @media (min-width: 445px) {
        margin-right: 30px;
        margin-left: 30px;
      }
      @media (min-width: 481px) {
        margin-left: 0;
      }

}
.views_info{
    background: #f4f4f4;
    border-left: .5px solid grey;
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    align-items: center;
}
.img_fork{
    padding-right: 3px;
}
.subs_amount{
        border-left: .5px solid grey;
        padding-left: 8px;
        padding-right: 8px;
        align-content: center;
        text-align: center;
        padding-top: 3px;
}

.section_editor_menu{
    @media (min-width: 481px) { 
        padding-left: 20px;
    }
    @media (min-width: 993px) { 
    background: #F4F4F4;
        padding-top: 102px;
    }
}
.section_editor_title{
    font-family: $font-m;
    font-style: normal;
    color: #635C73;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    margin-top: 79.5px;
    margin-bottom: 36px;
}
.section_editor_title_2{
    font-family: $font-m;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #8D81AC;
    @media (min-width: 993px) { 
        padding-left: 140px;
    }
}

.menu_block_title{
    font-family: $font-m;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #323232;
    margin-top: 23px;
    justify-content: center;
    display: flex;
    @media (min-width: 481px) { 
        margin-top: 0;
        align-items: none;  
        flex-direction: column;
      }
}
.img_container{
    @media (min-width: 481px) {
        width: 111px;
        display: table;
        align-self: baseline;
      }
}
.editor_menu_block{
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: 481px) {
        display: flex;
        align-items: end;
        flex-direction: inherit;
        margin-bottom: 60px;
      }
}
.editor_menu_block_picture{
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: 481px) {
        align-items: end;
        flex-direction: inherit;
        margin-bottom: 60px;
      }
      @media (min-width: 993px) {
        flex-direction: column;
      }
}
.editor_menu_block_text{
    @media (min-width: 481px) {
        padding-left: 20px
      }
 
}
.menu_block_text{
    font-family: $font-l;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #848E97;
    margin-bottom: 42px;
    @media (min-width: 481px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: left;
        margin-bottom: 0;
      }
}

.editor_menu_image{
    background-repeat: no-repeat;
    align-items: flex-end;
    position: relative;
    left: 15%;
    @media (min-width: 480px) {
        background-repeat: no-repeat;
        align-items: flex-end;
        position: relative;
        left: 15%;
      }
      @media (min-width: 828px) {
        left: 20%;
      }
      @media (min-width: 882px) {
        left: 25%;
      }
      @media (min-width: 936px) {
        left: 30%;
      }   
      @media (min-width: 1200px) {
        left: 40%;
      }

}
.active_tittle{
    display: flex;
    @media (min-width: 993px) {
        display: none;
    }
}
.hide_tittle{
      display: none;
      @media (min-width: 993px) {
        display: flex;
        margin-top: 94px;
        font-size: 48px;
        line-height: 50px;
        padding-left: 0;
    }
}
.second_section_edit{
    @media (min-width: 993px) {
        background: #F4F4F4;
    }
}
.sectiond_editor_menu_container{
    
    @media (min-width: 993px) {
        display: flex;
      }
}