.section_editor{
overflow: hidden;
}
.editor_text{
    text-align: center;
    font-family: $font-l;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #323232;
    padding-bottom: 36px;
    
}

.views_items {
    display: flex;  
    border: 0.5px solid grey;
    border-radius: 3px;
    width: 133px;
    height: 26px;
    text-align: center;
}
.views_item_watch{
    margin-right: 10px;
   
}
.views_items_star{

    @media (min-width: 480px) {
        margin-right: 10px;
      }
}
.views_items_fork{
    margin-top: 20px;
    @media (min-width: 481px) {
        margin-top: 0px;
      }
   
}
.views{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 88px;
    @media (min-width: 429px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 88px;
        margin-right: 10px;
        margin-left: 10px;
      }
      @media (min-width: 445px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 88px;
        margin-right: 30px;
        margin-left: 30px;
      }
      @media (min-width: 481px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 88px;
      }

}
.views_info{
    background: #f4f4f4;
    border-left: .5px solid grey;
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    align-items: center;
}
.img_fork{
    padding-right: 3px;
}
.subs_amount{
        border-left: .5px solid grey;
        padding-left: 8px;
        padding-right: 8px;
        align-content: center;
        text-align: center;
        padding-top: 3px;
}

.section_editor_title{
    font-family: $font-m;
    font-style: normal;
    color: #635C73;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    margin-top: 79.5px;
    margin-bottom: 36px;
}
.section_editor_title_2{
    font-family: $font-m;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #8D81AC;
}
.menu_block_title{
    font-family: $font-m;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    align-items: center;
    color: #323232;
    margin-top: 23px;
    @media (min-width: 481px) {
        display: flex;     
      }
}
.editor_menu_block{
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: 481px) {
        display: flex;
        align-items: center;
        
      }
}
.editor_menu_block_text{
    @media (min-width: 481px) {
        padding-left: 20px
      }
 
}
.menu_block_text{
    font-family: $font-l;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #848E97;
    margin-bottom: 42px;
    @media (min-width: 481px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: left;
      }
}

.editor_menu_image{
    background-repeat: no-repeat;
    align-items: flex-end;
    position: relative;
    left: 15%;
    overflow: hidden;
    @media (min-width: 480px) {
        background-repeat: no-repeat;
        align-items: flex-end;
        position: relative;
        left: 15%;
        overflow: hidden;
      }
}