$font-m: Montserrat;
$font-l: Lato;
$purple: #8d81ac;

.wrapper {
  position: relative;
}

.container {
  min-width: 320px;
  margin: 0 auto;
  position: relative;
  padding: 0 10px 0 10px;
}
@media (min-width: 481px) {
  .container {
    min-width: 480px;
  }
}

@media (min-width: 993px) {
  .container {
    min-width: 993px;
  }
}

@media (min-width: 1201px) {
  .container {
    width: 1200px;
  }
}
