.section_subs_price{
    font-family: $font-m;
    background-image: url(backgrnd_subs.png);;
}
.Price_main_title{
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-align: center;
}
.price_block{
        width: 257px;
        height: 457px;
        opacity: 0.11;
}
.offer_name_container{
        opacity: 0.06;
}
.offer_name{
    font-family: $font-m;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    padding: 36px 60px;
}
.offers_price{
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 62px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.term_of_pay{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.offers_bonus{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
.button_purchase_offer{
    width: 163px;
    height: 45px;
    opacity: 0.15;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    border-radius: 10px;

}
.price_block_black{
    background: #463048;
    mix-blend-mode: normal;
    opacity: 0.84;
}
.offer_name_container_black{
    background: #000000;
    mix-blend-mode: normal;
    opacity: 0.11;
}