@charset "UTF-8";
*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

ul,
li,
a {
  text-decoration: none;
  list-style: none;
  color: inherit; }

.wrapper {
  position: relative; }

.container {
  min-width: 320px;
  margin: 0 auto;
  position: relative;
  padding: 0 10px 0 10px; }

@media (min-width: 481px) {
  .container {
    min-width: 480px; } }

@media (min-width: 993px) {
  .container {
    min-width: 993px; } }

@media (min-width: 1201px) {
  .container {
    width: 1200px; } }

.header {
  min-width: 100%;
  top: 0;
  left: 0;
  background-color: #27262a; }
  @media (min-width: 1201px) {
    .header {
      background-color: black; } }

.hamburger-menu input {
  opacity: 0;
  display: none; }

@media (min-width: 481px) {
  .hamburger-menu {
    display: none; } }

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .logo span {
    display: none; }
    @media (min-width: 481px) {
      .logo span {
        display: block;
        -ms-flex-item-align: center;
        align-self: center;
        font-size: 24px;
        text-transform: uppercase;
        color: #8d81ac;
        font-family: Lato;
        margin-left: 17px;
        font-weight: 700; } }

.menu__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  top: 20px;
  right: 0px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1; }

/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 26px;
  height: 2px;
  background-color: white;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s; }

.menu__btn > span::before {
  display: block;
  position: absolute;
  width: 70%;
  height: 2px;
  background-color: white;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  right: 0; }

.menu__btn > span::before {
  content: "";
  top: -8px; }

.menu__btn > span::after {
  content: "";
  top: 8px; }

#menu__toggle:checked ~ .menu__btn > span {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  -webkit-transform: scale(0);
  transform: scale(0); }

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg); }

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 34px;
  padding-bottom: 32px; }
  @media (min-width: 481px) {
    .navigation {
      padding-top: 22px;
      padding-bottom: 0px; } }
  @media (min-width: 993px) {
    .navigation {
      padding-bottom: 22px; } }

.main-menu {
  display: none;
  position: absolute;
  top: 0px;
  margin-top: 111px;
  width: 292px;
  background-color: #333333;
  z-index: 2;
  padding-left: 0px; }
  @media (min-width: 481px) {
    .main-menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      background-color: transparent;
      width: 695px;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      position: static;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding-top: 10px;
      padding-bottom: 5px;
      margin: 0 auto;
      padding-left: 10px;
      padding-right: 10px; } }
  @media (min-width: 993px) {
    .main-menu {
      width: 527px;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin: 0 0 0 auto; } }

.main-menu__item:active,
.main-menu__item:hover .main-menu__link {
  position: relative;
  color: #8d81ac;
  font-weight: 400; }
  @media (min-width: 993px) {
    .main-menu__item:active,
    .main-menu__item:hover .main-menu__link {
      background-color: transparent; } }
  .main-menu__item:active::before,
  .main-menu__item:hover .main-menu__link::before {
    border-left: 8px solid #8d81ac;
    content: "";
    display: block;
    position: absolute;
    width: 8px;
    height: 53px;
    background-color: #8d81ac;
    left: 0;
    top: 12.5px; }

.main-menu__link {
  font-size: 26px;
  font-family: Montserrat;
  font-weight: 400;
  color: white;
  padding-left: 35px;
  display: block;
  padding-top: 29px;
  padding-bottom: 21px;
  line-height: 22px; }
  @media (min-width: 481px) {
    .main-menu__link {
      font-weight: 700;
      font-size: 16px;
      color: #8d81ac;
      padding-left: 0px;
      padding-top: 0px;
      padding-bottom: 10px; } }
  @media (min-width: 993px) {
    .main-menu__link {
      padding-bottom: 0px; } }

.main-menu__link::hover {
  position: relative;
  color: #8d81ac;
  font-weight: 400; }
  .main-menu__link::hover::before {
    border-left: 8px solid #8d81ac;
    content: "";
    display: block;
    position: absolute;
    width: 8px;
    height: 53px;
    background-color: #8d81ac;
    left: 0;
    top: 12.5px; }

.main-menu.active {
  display: block; }

.header-bg {
  margin-top: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.section-title {
  font-size: 14px;
  text-transform: uppercase; }
  @media (min-width: 481px) {
    .section-title {
      font-size: 16px;
      margin-bottom: 24px;
      margin-top: 0; } }

@media (min-width: 993px) {
  .buynow {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin-left: 48px; } }

.purple__button {
  background-color: #8d81ac;
  font-family: Montserrat;
  font-size: 15px;
  color: white;
  font-weight: 700;
  border-radius: 40px;
  padding: 9px 28px; }
  @media (min-width: 993px) {
    .purple__button {
      padding: 9px 38px; } }

.section_editor {
  overflow: hidden; }

.editor_text {
  text-align: center;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #323232;
  padding-bottom: 36px; }

.views_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 0.5px solid grey;
  border-radius: 3px;
  width: 133px;
  height: 26px;
  text-align: center; }

.views_item_watch {
  margin-right: 10px; }

@media (min-width: 480px) {
  .views_items_star {
    margin-right: 10px; } }

.views_items_fork {
  margin-top: 20px; }
  @media (min-width: 481px) {
    .views_items_fork {
      margin-top: 0px; } }

.views {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 88px; }
  @media (min-width: 429px) {
    .views {
      margin-right: 10px;
      margin-left: 10px; } }
  @media (min-width: 445px) {
    .views {
      margin-right: 30px;
      margin-left: 30px; } }
  @media (min-width: 481px) {
    .views {
      margin-left: 0; } }

.views_info {
  background: #f4f4f4;
  border-left: .5px solid grey;
  padding-left: 8px;
  padding-right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.img_fork {
  padding-right: 3px; }

.subs_amount {
  border-left: .5px solid grey;
  padding-left: 8px;
  padding-right: 8px;
  -ms-flex-line-pack: center;
  align-content: center;
  text-align: center;
  padding-top: 3px; }

@media (min-width: 481px) {
  .section_editor_menu {
    padding-left: 20px; } }

@media (min-width: 993px) {
  .section_editor_menu {
    background: #F4F4F4;
    padding-top: 102px; } }

.section_editor_title {
  font-family: Montserrat;
  font-style: normal;
  color: #635C73;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-top: 79.5px;
  margin-bottom: 36px; }

.section_editor_title_2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  color: #8D81AC; }
  @media (min-width: 993px) {
    .section_editor_title_2 {
      padding-left: 140px; } }

.menu_block_title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  color: #323232;
  margin-top: 23px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (min-width: 481px) {
    .menu_block_title {
      margin-top: 0;
      -webkit-box-align: none;
      -ms-flex-align: none;
      align-items: none;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

@media (min-width: 481px) {
  .img_container {
    width: 111px;
    display: table;
    -ms-flex-item-align: baseline;
    align-self: baseline; } }

.editor_menu_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media (min-width: 481px) {
    .editor_menu_block {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: end;
      -webkit-box-orient: inherit;
      -webkit-box-direction: inherit;
      -ms-flex-direction: inherit;
      flex-direction: inherit;
      margin-bottom: 60px; } }

.editor_menu_block_picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media (min-width: 481px) {
    .editor_menu_block_picture {
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: end;
      -webkit-box-orient: inherit;
      -webkit-box-direction: inherit;
      -ms-flex-direction: inherit;
      flex-direction: inherit;
      margin-bottom: 60px; } }
  @media (min-width: 993px) {
    .editor_menu_block_picture {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

@media (min-width: 481px) {
  .editor_menu_block_text {
    padding-left: 20px; } }

.menu_block_text {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #848E97;
  margin-bottom: 42px; }
  @media (min-width: 481px) {
    .menu_block_text {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      text-align: left;
      margin-bottom: 0; } }

.editor_menu_image {
  background-repeat: no-repeat;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  position: relative;
  left: 15%; }
  @media (min-width: 480px) {
    .editor_menu_image {
      background-repeat: no-repeat;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end;
      position: relative;
      left: 15%; } }
  @media (min-width: 828px) {
    .editor_menu_image {
      left: 20%; } }
  @media (min-width: 882px) {
    .editor_menu_image {
      left: 25%; } }
  @media (min-width: 936px) {
    .editor_menu_image {
      left: 30%; } }
  @media (min-width: 1200px) {
    .editor_menu_image {
      left: 40%; } }

.active_tittle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (min-width: 993px) {
    .active_tittle {
      display: none; } }

.hide_tittle {
  display: none; }
  @media (min-width: 993px) {
    .hide_tittle {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-top: 94px;
      font-size: 48px;
      line-height: 50px;
      padding-left: 0; } }

@media (min-width: 993px) {
  .second_section_edit {
    background: #F4F4F4; } }

@media (min-width: 993px) {
  .sectiond_editor_menu_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

.intro {
  width: 1200px;
  height: 1200px;
  background-image: url(../img/bg_1.png);
  background-position: center; }
